.next {
  --color: var(--ion-color-primary);
}

.selected-picture {
  height: 100vw;

  img {
    width: 100vw;
    height: 100vw;
  }
}

ion-row {
  height: calc(50vh - 44px);
}

ion-grid {
  padding: 0;

  ion-col {
    padding: 0;
  }
}
