ion-content {
  padding: 16px 0;

  .add-to-story {
    p {
      font-size: 13px;
      font-weight: bold;
    }
  }

  .user {
    p {
      margin: 0;
      font-size: 13px;
    }

    .alias {
      font-weight: bold;
    }
  }
}

ion-footer {
  margin-bottom: 20px;

  ion-button {
    width: 100px;
    --border-radius: 25px;
    --color: white;
  }
}
