<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="photo-camera"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="follow"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <img src="assets/images/instagram-logo.png" alt="" />
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <stories></stories>

  <posts-slider [posts]="postsService.homePosts"></posts-slider>
</ion-content>
